<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/submit_request_screen.css">
    <title>Submit Request</title>
</head>

<body>
    <div class="container-fluid">

        <div class="shadow row navbar">
            <div class="d-flex justify-content-between align-items-center">
                <img src="/Images/SRS Screen Shorts/logo hello doc.jpg" alt="" height="100px">
                <button type="button" class="btn btn-outline-info me-3">
                    <img src="/Images/SRS Screen Shorts/dark_mode_black_24dp.svg" alt="dark mode">
                </button>
            </div>
        </div>
        <div class="bg"></div>

        <div class="row">
            <div class="col m-4 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-info">
                    <div class="d-flex">
                        <a asp-controller="Home" asp-action="patient_site">
                            <img src="/Images/SRS Screen Shorts/back_arrow.svg" alt="back_arrow">Back
                        </a>
                    </div>
                </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-5 col-8">
                <div class="justify-content-center d-flex mb-4">
                    <h4 class="head">I am a...</h4>
                </div>
                <div>
                    <a asp-controller="Home" asp-action="create_patient_request" class="text-decoration-none">
                        <div class="button" id="btn_1">Patient</div>
                    </a>
                    <a asp-controller="Home" asp-action="create_familyfriend_request" class="text-decoration-none">
                        <div class="button" id="btn_2">Family / Friend</div>
                    </a>
                    <a asp-controller="Home" asp-action="create_concierge_request" class="text-decoration-none">
                        <div class="button" id="btn_3">Concierge</div>
                    </a>
                    <a asp-controller="Home" asp-action="create_businesspartner_request" class="text-decoration-none">
                        <div class="button" id="btn_4">Business Partners</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="justify-content-center row align-items-center">
            <footer class="d-flex footer justify-content-end pe-5">
                <a href="#" class="footer_links">Terms and Conditions</a>
                <span class="mx-3">|</span>
                <a href="#" class="footer_links">Privacy Policy</a>
            </footer>
        </div>

    </div>
</body>

</html>